/*

Style sheet for megahout

*/
/* -----------------------------------------------------------------------RESET -------*/
/* Reset from: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

/* Copied from HTML 5 Wordpress theme */
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chromeframe {
  position: absolute;
  top: 0;
}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* We like off-black for text. */
body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}

textarea:-moz-placeholder {
  color: #a9a9a9;
}

/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/
#wrapper {
  width: 960px;
  margin: 20px auto;
}

ol.commentlist {
  list-style: none;
}

ol.commentlist li.comment {
  border-bottom: 1px dotted #666;
  padding: 10px;
}

ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal;
}

ol.commentlist li.comment div.vcard img.avatar {
  float: right;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment div.comment-meta {
  font-size: 10px;
}

ol.commentlist li.comment div.comment-meta a {
  color: #ccc;
}

ol.commentlist li.comment div.reply {
  font-size: 11px;
}

ol.commentlist li.comment div.reply a {
  font-weight: bold;
}

ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0;
}

ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 10px 10px;
}

ol.commentlist li.even {
  background: #fff;
}

ol.commentlist li.odd {
  background: #f6f6f6;
}

ol.commentlist li.parent {
  border-left: 5px solid #111;
}

/* Print styles!
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
